<div class="header">
    <div class="name">
        <h1>Sourabh Jha</h1>
    </div>
    <div class="role">
        <h5>Full Stack Developer</h5>
    </div>
    <div class="details">
        <div class="contact">
            <p>Phone: +91 8368492459</p>
            <p>Email: <a href="mailto:Sjha0164@gmail.com">Sjha0164&#64;gmail.com</a></p>
        </div>
        <div class="social">
            <p>LinkedIn: <a href="https://www.linkedin.com/in/sourabh-jha-8b958a284/" target="_blank">Sourabh jha</a></p>
            <p>Github: <a href="https://github.com/sourabhjha-bit" target="_blank">sourabhjha-bit</a></p>
        </div>
    </div>
</div>