<div class="footer">
    <a class="link-img__container" title="LinkedIn Profile" target="_blank"
        href="https://www.linkedin.com/in/sourabh-jha-8b958a284/">
        <img src="../../assets/LinkedIn.png" alt fill priority />
    </a>
    <a class="link-img__container" title="Github Profile" target="_blank" href="https://github.com/sourabhjha-bit">
        <img src="../../assets/GitHub.png" alt fill priority />
    </a>
    <a class="link-img__container" title="Twitter Profile" target="_blank" href="https://twitter.com/CM_Prank">
        <img src="../../assets/Twitter.png" alt fill priority />
    </a>
</div>